@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.submit-annotation {
  margin: 10px 0px;
  padding: 5px 10px;
  font: inherit;
  cursor: pointer;
  border: 2px solid limegreen;
  color: limegreen;
  background: white;
}

.submit-annotation:hover {
  background: limegreen;
  color: white;
  border: 2px solid limegreen;
}

.annotation-form-container {
  font-family: "Roboto", sans-serif;
  width: 45%;
  z-index: 5;
}

.animate-timer.slider {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

.animate-timer {
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}

.annotation-form {
  background: #F7F7F7;
  transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
  position: absolute;
  width: 35%;
  display: flex;
  flex-direction: column;
  border-left: 6px solid #B19CD9;
  padding: 10px;
}

.annotation-error-container {
  font-size: 18px;
  margin-bottom: 0px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  border-radius: 4px;
}

.annotation-textarea {
  font-size: 16px;
  height: 30px;
  width: 100%;
}

.annotation-textarea:focus {outline: none;}

.annotation-form > button {
  margin: 10px;
  width: 50px;
}

.annotation-body-container {
  z-index: 3;
}

.annotation-body {
  transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
  position: absolute;
  background-color: white;
  width: 35%;
  border-left: 6px solid #6abedb;
}

.annotator-display {
  text-transform: uppercase;
  margin: 10px;
  font-size: 14px;
}

.annotation-display {
  margin: 10px;
  font-family: "Assistant";
  font-size: 17px;
  white-space: pre-wrap;
}

.bolded {
  font-weight: bold;
}

.delete-annotation {
  margin: 0px 10px;
  padding: 5px 10px;
  font: inherit;
  cursor: pointer;
  border: 2px solid rgba(128, 128, 128, 1);
  color: rgba(128, 128, 128, 1);
  background: white;
}

.delete-annotation:hover {
  background: rgba(128, 128, 128, 1);
  color: white;
  border: 2px solid rgba(128, 128, 128, 1);
}
