.annotation-comment-form-and-display {
  font-family: sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  border: 1px solid #fcfcfc;
}

.annotation-comment-form {
  width: 100%;
  background: #fcfcfc;
}

.annotation-comments-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.annotation-comment-form-title {
  font-family: sans-serif;
  margin: 10px;
  font-size: 24px;
  font-weight: lighter;
}

.annotation-comments-error-container {
  font-size: 18px;
  margin-bottom: 0px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  border-radius: 4px;
}

.annotation-comment-input-fields {
  margin: 10px;
}

.annotation-comment-textarea {
  margin: auto;
  height: 100%;
  resize: none;
  font-size: 18px;
  width: 100%;
}

.annotation-comment-details-container {
  width: 100%;
  min-height: 100px;
  background: white;
}

.annotation-comment-details-container:nth-child(even) {
  background: #fcfcfc;
}

.annotation-commenter {
  font-size: 14px;
  padding-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.annotation-comment {
  margin-left: 10px;
  padding-bottom: 5px;
}

.submit-annotation-comment {
  width: 140px;
  height: 40px;
  color: #6ABEDB;
  margin: 10px;
  background: white;
  padding:0!important;
  font: inherit;
  cursor: pointer;
  border: 2px solid #6ABEDB;
}

.submit-annotation-comment:hover {
  color: white;
  background: #6ABEDB;
  border: 2px solid white;
}

.submit-annotation-comment:focus {
  outline: none;
}
