* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

html {
  background-color: white;
  overflow-y: scroll;
}

html, body {
  height:100%;
  font-family: "Roboto";
}

textarea {
  padding: 5px;
}
