@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

.header-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 50px;
  background-color: #222;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.head-title {
  font-size: 30px;
  color: white;
}

.head-title:hover {
  cursor: pointer;
}

.head-links {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
}

.head-user {
  vertical-align: middle;
  text-align: center;
  width: 200px;
  color: white;
  display: flex;
  justify-content: center;
}

.navbar {

  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), #6ABEDB;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  height: 100%;
  background:none;
  color: white;
  border:none;
  padding-left: 10px;
  padding-right: 10px;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.nav-links:hover {
   color: black;
   background: linear-gradient(0deg, transparent, white);
   background-color: #ccc;
 }
