@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

.header-container {
  font-family: 'Alegreya Sans SC', sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  height: 50px;
  background-color: #222;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.head-title-container {
  display: block;
  margin: 0 auto;
}

.head-title {
  height: 100%;
  text-align: center;
  font-size: 40px;
  color: white;
}

.head-title:hover {
  cursor: pointer;
}

.header-logistics {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  height: 100%;
  justify-content: center;
  vertical-align: middle;
}
.head-links {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-user {
  vertical-align: middle;
  text-align: center;
  width: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background: #e91e63;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-links, .nav-links {
  height: 100%;
  background:none;
  color: white;
  border:none;
  padding-left: 10px;
  padding-right: 10px;
  font: inherit;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.log-links:hover {
   color: #e91e63;
 }

 .nav-links:hover {
   color: black;
 }
