@import 'https://fonts.googleapis.com/css?family=Orbitron';

.home {
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 75px);
  overflow-y: auto;
}


.splash-container {
  background-image:
  url("http://res.cloudinary.com/deeucxgdi/image/upload/e_sharpen:100,q_100/v1473175126/Graffiti-Girl-Listening-To-Music-wide-i_qmljdg.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Alegreya Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.splash-title {
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
  text-shadow: 1px 1px black;
}

.splash-caption {
  font-weight: 700;
  color: white;
  margin: 0;
  font-size: 2rem;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
}

.splash-caption > span {
  color: #f98d46;
}

.main-page {
  font-family: 'Roboto';
  width: 80%;
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0px 10px;
}

.gallery-title {
  font-size: 16px;
  font-family: "Assistant", sans-serif;
  text-transform: uppercase;
  text-align: left;
  width: 300px;
  margin: 5px 10px;
}

.gallery-title > span {
  color: #b0a0e8;
}

.main-page p {
  margin: 0;
  font-size: 1.3rem;
}

.gallery-song-info-container {
  padding: 10px;
  background: black;
  width: 300px;
}

.gallery-item {
  background: black;
  margin: 0px 10px;
  margin-bottom: 20px;
}

.gallery-song-title {
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: normal;
  font-size: 23px;
  color: white
}

.gallery-song-artist {
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: normal;
  font-size: 18px;
  color: white;
}

.gallery-song-album {
  font-family: 'Orbitron', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: normal;
  font-size: 18px;
  color: white;
}

.filler {
  width: 300px;
  margin: 0 10px;
}
