@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

.ReactModal__Overlay {
  z-index: 2;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #424242;
  background-color: white;
  margin: 15px;
  border-bottom: 1px solid #424242;
}

.modal-header > div {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.exit {
  color: gray;
  cursor: pointer;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 0.75;
}

.login-button {
  font-size: 16px;
  margin: auto;
  margin-top: 20px;
  background-color: #00ce82;
  color: white;
  width: 200px;
  height: 40px;
  border: 1px solid #00ce82;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #009688;
  color: white;
  border: 1px solid #009688;
}

.login-button:focus {
  outline: none;
}

.login-form-box {
  margin: auto;
  width: 100%;
  justify-content: center;
}

.login-form-container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.login-form-box {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center
}

.login-form {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-info-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
  border: 1px solid #ECECED;
  border-radius: 5px;
  height: 38px;
  margin: 5px;
}

.glyph {
  height: 18px;
  border-right: 1px solid #c1c2d1;
  padding: 0 6px;
}

.login-input {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #3e4273;
  font-size: 18px;
  padding-left: 6px;
  border: none;
  background: transparent;
}

.login-input:focus {
  outline: none;
}

.form-text {
  font-size: 24px;
  color: #00ce82;
  font-family: 'Roboto';
}

.login-errors {
  height: 40px;
  font-size: 14px;
  color: #FF0000;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

ul,li {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}
