@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

.ReactModal__Overlay {
  z-index: 2;
}

.modal-header {
  display: flex;

  padding: 15px;
  justify-content: space-between;
  background-color: white;
}

.modal-header > div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.exit {
  margin-top: -8px;
  opacity: .2;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

.login-button {
  font-size: 16px;
  margin: auto;
  margin-top: 20px;
  background-color: transparent;
  color: white;
  width: 200px;
  height: 40px;
  border: 1px solid white;
}

.login-button:hover {
  background-color: #e91e63;
  color: white;
  border: 1px solid #e91e63;
}

.login-button:focus {
  outline: none;
}

.login-input {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  border-radius: 0px;
  border: 1px #1D1D1D solid;
  margin: auto;
}


.login-form-box {
  margin: auto;
  width: 100%;
  justify-content: center;
}

.login-form-container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  width: 100%;
}

.login-form-box {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login-form {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.form-text {
  margin: auto;
  margin-top: 20px;
  font-size: 24px;
  color: #e91e63;
  font-family: 'Roboto';
}

.login-errors {
  height: 30px;
  color: #FF0000;
  margin: 0 auto;
}

ul,li {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}
