.search-container {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  color: white;
  z-index: 10;
}

.search-box {
  height: 30px;
  width: 400px;
  font-size: 17px;
  padding-left: 1px;
  z-index: 10;
}

.search-index-item {
  position: relative;
  padding: 5px;
}

.songs-search-results {
  background: #222;
  color: white;
}

.songs-search-results:hover {
  cursor: pointer;
}

.search-index-item:hover {
  color: aqua;
  background: #383838;
}
