.gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.album-image {
  margin: 20px 20px;
}

.home-album-art-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

.home-album-art {
  border: 5px solid black;
  height: 300px;
  width: 300px;
}

.home-album-art > img {
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
}

.tint {
  position: relative;
  cursor: pointer;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}

.tint:hover:before { background: none; }
