@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

.showpage {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  align-items: center;
}

.show-splash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  linear-gradient(180deg, transparent, black),
  url("http://www.timelinecoverbanner.com/facebook-covers/2012/12/music-passion.jpg");
  background-size: cover;
  height: 350px;
  width: 80%;
  position: relative;
  overflow: hidden;
  background-position: center;
  display: flex;
  justify-content: space-around;
}

.show-content-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.float {
  float: right;
}

.lyrics-container {
  width: 100%;
  margin-left: 20px;
}

.song-lyrics-title {
  font-size: 28px;
  margin: 20px 0px;
}

pre {
  font-weight: 300;
  font-family: 'Nunito';
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.ghost-lyrics {
  position: absolute;
  z-index: 2;
  color: transparent;
  white-space: pre-wrap;
  max-width: 40%;
}

.ghost-lyrics::selection {
  background-color: rgba(177, 156, 217, 0.5);
  color: black;
}

.annotation-lyrics {
  position: relative;
  z-index: 1;
  white-space: pre-wrap;
  max-width: 100%;
}

.lyrics::selection {
  background: transparent;
}

.highlight-lyrics {
  pointer-events: none;
  position: absolute;
  z-index: 0;
  color: transparent;
  white-space: pre-wrap;
  max-width: 40%;
}

.highlight-lyrics::selection {
  background: transparent;
}

.annotated {
  position: relative;
  background-color: rgba(128, 128, 128, 0.3)
}

.annotated:hover {
  background-color: rgba(0, 170, 255, 1);
  cursor: pointer;
}

.no-events {
  pointer-events: none;
}

.song-lyrics-and-comments {
  min-width: 50%;
  max-width: 50%;
}

.selected-annotation {
  background: rgba(0, 170, 255, 1);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
