@import url(https://fonts.googleapis.com/css?family=Assistant);


.song-form-container {
  font-family: 'Assistant', sans-serif;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song-form {
    padding: 10px;
    width: 400px;
    background: #e91e63;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-form-title {
  color: white;
  padding: 10px;
  font-size: 18px;
}

.small-inputs {
  padding: 10px;
  display:flex;
  flex-direction: column;
  width: 250px;
}

.smaller-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.song-title-input {
  padding: 1px;
  margin: 10px 0;
  font-size: 20px;
}

.song-year-input {
  padding: 1px;
  margin: 10px 0;
  font-size: 20px;
}

.lyrics-textarea {
  margin: 10px;
  font-size: 20px;
  resize: none;
  height: 600px;
  width: 80%;
}

.artist-input {
  padding: 1px;
  margin: 10px 0;
  font-size: 20px;
}

.album-input {
  padding: 1px;
  margin: 10px 0;
  font-size: 20px;
}

.url-input {
  margin: 10px 0;
  font-size: 16px;
  height: 40px;
  width: 150px;
  color: white;
  background: red;
  border: 1px solid white;

}

.submit-to-lyricist {
  width: 140px;
  height: 40px;
  color: white;
  margin: 10px;
  background: red;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  border: 1px solid white;

}

.submit-to-lyricist:hover {
  background: white;
  color: red;
  border: 1px solid red;
  cursor: pointer;
}

.submit-to-lyricist:focus {outline:0;}

.song-form-error-box {
  min-height: 110px;
}

.song-form-error-container {
  font-size: 18px;
  margin-bottom: 0px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  border-radius: 4px;
}
