@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);


.song-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.song-title {
  text-shadow: 2px 2px black;
  font-family: "Open Sans";
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  color: white;
  font-size: 60px;
}

.song-artist {
  text-shadow: 2px 2px black;
  font-family: "Open Sans";
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffeb3b;
  font-size: 34px;
}

.song-album {
  text-shadow: 2px 2px black;
  font-family: "Open Sans";
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 22px;
}

.song-album > span {
  color: #ffeb3b;
}

.album-art-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.album-art {
  border: 2px solid white;
  height: 300px;
  width: 300px;
}

.album-art > img {
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
}
