@import url(https://fonts.googleapis.com/css?family=Assistant);

.song-form-container {
  font-family: 'Assistant', sans-serif;
  background: #e91e63;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song-form {
  padding: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-form-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: 30px;
  border-bottom: 1px solid white;
  font-family: "Roboto", sans-serif;
}

.required {
  color: white;
  font-size: 16px;
}

.song-form-inputs {
  display: flex;
  justify-content: center;
  width: 100%;
}

.song-form-left {
  padding: 10px;
  display:flex;
  flex-direction: column;
  width: 50%;
}

.song-form-right {
  padding: 10px;
  display:flex;
  flex-direction: column;
}

.smaller-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.song-title-input {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 16px;
}

.song-year-input {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 16px;
}

.lyrics-textarea {
  font-size: 16px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  resize: none;
  height: 450px;
  width: 100%;
}

.artist-input {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 16px;
}

.album-input {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 16px;
}

.image-inputs {
  display: flex;
  flex-direction: column;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(
    135deg, #606dbc, #606dbc 40px, #465298 40px, #465298 80px
  );
  font-size: 30px;
  padding: 7.5px;
  border: 1px solid white;
  text-align: center;
  color: white;
  height: 300px;
  width: 300px;
}

.url-input {
  margin: 10px 0;
  font-size: 16px;
  height: 40px;
  width: 150px;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 2px;
}

.url-input:hover {
  background: white;
  color: #e91e63;
  border: 1px solid #e91e63;
  cursor: pointer;
}

.url-input:focus {outline:0;}

.submit-to-lyricist {
  width: 140px;
  height: 40px;
  color: white;
  margin-top: 10px;
  background: transparent;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 2px;
}

.submit-to-lyricist:hover {
  background: white;
  color: #e91e63;
  border: 1px solid #e91e63;
  cursor: pointer;
}

.submit-to-lyricist:focus {outline:0;}

.song-form-error-box {
  min-height: 110px;
  margin: 0 auto;
}

.song-form-error-container {
  font-size: 18px;
  margin-bottom: 0px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  border-radius: 4px;
  width: 100%;
}
