.showpage {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  align-items: center;
}

.show-splash {
  background-image: url("http://www.timelinecoverbanner.com/facebook-covers/2012/12/music-passion.jpg");
  background-size: cover;
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
}

.show-content-container {
  width: 80%;
  display: flex;
  background-color: white;
}

.lyrics-container {
  width: 55%;
}

.song-lyrics-title {
  margin: 20px;
}

pre {
  font-family: fantasy;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.ghost-lyrics {
  position: absolute;
  margin-left: 20px;
  z-index: 2;
  color: transparent;
}

.ghost-lyrics::selection {
  background: #00BFFF;
  color: black;
}

.lyrics {
  position: relative;
  margin-left: 20px;
  z-index: 1;
}

.highlight-lyrics {
  pointer-events: none;
  position:absolute;
  margin-left: 20px;
  z-index: 0;
  color: transparent;
}

.annotated {
  position: relative;
  background-color: #00BFFF;
}
