@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
@import 'https://fonts.googleapis.com/css?family=Cairo';


.song-index-container {
  font-family: "Cairo";
  line-height: 1.4em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
}

.song-info-container {
  width: 90%;
  margin: 10px;
  background: white;
}

.song-index-item {
  position: relative;
  transition: all 0.15s ease-in-out;
}

.song-index-item:hover {
  cursor: pointer;
  border-left: 4px solid #e91e63;
}

.song-item-details-container {
  overflow: hidden;
  font-size: 18px;
  background: inherit;
  width: 100%;
  color: silver;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border:none;
  cursor: pointer;
  padding-left: 1px;
  border-bottom: 1px solid rgba(30,30,30,1);
}

.song-item-details-container:hover {
  padding-left: 10px;
  color: white;
  background: transparent;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}

.song-item-details-container:focus {
  outline: none;
}

.song-item-details {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.song-index {
  height: 100%;
  width: 80%;
  background: transparent;
  background-size: cover;
}

.line {
  border-top: 1px solid;
}

.song-index-title {
  font-family: "Roboto";
  color: silver;
  font-size: 16px;
  margin: 10px 0 5px 0;
}

.song-index-title > span {
  text-transform: uppercase;
  color: #2ed1fb;
}

.song-item-title {
}

.song-item-artist {
}
