@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

.showpage {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  align-items: center;
}

.show-splash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  linear-gradient(180deg, transparent, black),
  url("http://www.timelinecoverbanner.com/facebook-covers/2012/12/music-passion.jpg");
  background-size: cover;
  height: 350px;
  width: 80%;
  position: relative;
  overflow: hidden;
  background-position: center;
  display: flex;
  justify-content: space-around;
}

.show-content-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.float {
  float: right;
}

.lyrics-container {
  width: 55%;
}

.song-lyrics-title {
  font-size: 28px;
  margin: 20px;
}

pre {
  font-weight: 300;
  font-family: 'Nunito';
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.ghost-lyrics {
  position: absolute;
  margin-left: 20px;
  z-index: 2;
  color: transparent;
  cursor: pointer;
}

.ghost-lyrics::selection {
  background: yellow;
  color: black;
}

.annotation-lyrics {
  position: relative;
  margin-left: 20px;
  z-index: 1;
}

.lyrics::selection {
  background: transparent;
}

.highlight-lyrics {
  pointer-events: none;
  position:absolute;
  margin-left: 20px;
  z-index: 0;
  color: transparent;
}

.highlight-lyrics::selection {
  background: transparent;
}

.annotated {
  position: relative;
  background-color: #6ABEDB;
}

.no-events {
  pointer-events: none;
}

.song-lyrics-and-comments {
  min-width: 55%;
  max-width: 55%;
}
